<!DOCTYPE html>
<html>
    <head>
        <title>Steve's Books Demo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="../stylesheets/main.css">
    </head>
    <body>
    <h1>Welcome to Steve's Demo of a Book Database with REST</h1>
    </body>
</html>
