<!doctype html>
<html>

<head>
    <title>Get Books</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <script src="ejs.min.js"></script> -->
    <style type="text/css">
    </style>
</head>

<body onload="runScript()">

    <script>
        function runScript() {
            let inFile = '<%-output%>';
            
            // let entry = JSON.parse(inFile[0]);
            // console.log(entry);
            console.log( typeof inFile);
            for (let i=0; i<30; i++){
            console.log(inFile[i]);
            }
            let name = inFile[0].name;
            console.log('the first entry is:' + name);
        }
    </script>
    <p>
        Hello <%=output[0].name%> Age <%=output[0].age%>
    </p>
</body>

</html>